<div id="<%= dom_id version %>">
  <p>
    <strong>User:</strong>
    <%= version.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= version.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= version.description %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= version.folder_id %>
  </p>

</div>
